*.DS_Store
.snakemake*
#queries/
#refs/
results/
scratch/
*.Rdata
*.Rhistory
SSvsHeinz/
backup/
filter_snakemake.sh
PI127826/
*.old
scripts/postprocessing*
ROI_finder/Input/Filtered/*
ROI_finder/Input/Query_fastas/*
ROI_finder/Input/Ref_fastas/*
